.link {
  transition: all 0.3s;
}

.link:hover {
  color: var(--accent-color);
}

.link:focus {
  border: none;
}

.link:focus-visible {
  outline: 2px solid #ffa11e;
  outline-offset: 5px;
  border-radius: 4px;
}
