@import url(./icons.scss);

.section__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  padding-bottom: 40px;
}

.contacts__description {
  display: block;
  max-width: 799px;
  font-size: var(--paragraph-size);
  font-weight: var(--regular-text);
}

.contacts-container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.5fr);
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "address contacts social"
    "map contacts social";
  gap: 40px 60px;
}

.contacts__address {
  grid-area: address;
  display: flex;
  flex-direction: column;
  row-gap: var(--item-section-gap);
  min-width: 200px;
}

.contacts__subtitle {
  text-transform: uppercase;
  font-size: var(--paragraph-size);
  font-weight: var(--medium-text);
  position: relative;
  cursor: default;
}

.contacts__address_description {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: var(--support-text-size);
  font-weight: var(--regular-text);
}

.contacts__address_time {
  display: block;
  cursor: default;
}

.contacts__link-list {
  grid-area: contacts;
  justify-self: end;
}

.contacts__social_link-list {
  grid-area: social;
  justify-self: center;
}

.contacts__link-list,
.contacts__social_link-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--item-section-gap);
}

.contacts__link {
  margin-top: 8px;
  display: block;
  text-align: start;
  font-size: var(--support-text-size);
  font-weight: var(--regular-text);
}

@media (max-width: 1100px) {

  .section__contacts {
    padding-bottom: 0;
    row-gap: var(--item-section-gap);
  }

  .contacts-container {
    grid-template-columns: min-content;
    grid-template-areas:
      "address contacts social"
      "map map map";
    // gap: 40px 45px;
    column-gap: 45px;
  }

  .contacts__social_link-list {
    justify-self: end;
  }
}

@media (max-width: 720px) {

  .contacts-container {
    width: 100%;
    grid-template-areas:
      "address address"
      "map map"
      "contacts social";
    gap: 20px 0;
    padding: 0 clamp(1.25rem, -0.1087rem + 5.7971vw, 2.5rem);
  }

  .contacts__link-list {
    justify-self: start;
  }
}
