@import url('./vendor/global.scss');
@import url('./vendor/fonts.scss');
@import url('./vendor/variable.scss');
@import url('./button/button.scss');
@import url('./link/link.scss');
@import url('./copyright/copyright.scss');
@import url('./map/map.scss');
@import url('./header/header.scss');
@import url('./cover/cover.scss');
@import url('./menu/menu.scss');
@import url('./about/about.scss');
@import url('./reviews/reviews.scss');
@import url('./contacts/contacts.scss');
@import url('./footer/footer.scss');
@import url('./template/card-image/card.scss');
@import url('./template/menu-item/item.scss');
@import url('./template/card-review/card.scss');


body {
  width: 100%;
  min-width: 1300px;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'header'
                       'content';
  align-items: stretch;
  font-family: var(--main-font-family), sans-serif;
  color: var(--text-color);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-gap);
}

.section__title {
  text-transform: uppercase;
  font-size: var(--title-size);
  font-weight: var(--extraBold-text);
}

.section__subtitle {
  text-transform: uppercase;
  font-size: var(--subtitle-size);
  font-weight: var(--extraBold-text);
  white-space: nowrap;
}

.accent-text {
  color: var(--accent-color)
}

.scrollContent {
  align-self: flex-end;
  grid-area: content;
  max-height: calc(100dvh - 93px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: var(--section-gap);
}