.section__reviews {
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas:
    "title download"
    "list list";
  row-gap: var(--header-section-gap);
  align-items: flex-end;
}

.section__reviews .section__title {
  grid-area: title;
  line-height: 1;
}

.about__link {
  grid-area: download;
  justify-self: end;
}

.section__reviews_list {
  grid-area: list;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  .section__reviews {
    grid-template-rows: min-content;
    row-gap: 16px;
    align-items: end;
  }

  .section__reviews_list {
    gap: 20px;
  }
}
