$img: 80px;
$height: 650px;

@if var(images-out-padding) == 40px {
  $img: 40px;
}

 @else if var(images-out-padding) == 24px {
  $img: 24px;
}

.section__cover {
  display: grid;
  grid-template-areas: "text . image";
  grid-template-columns: 1fr clamp(3.125rem, 0rem + 6.9444vw, 6.25rem) 1fr;
  gap: 20px;
}

.cover__text_block {
  grid-area: text;
}

.cover__title {
  font-size: var(--main-title-size);
  font-weight: var(--extraBold-text);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.cover__description {
  max-width: 540px;
  font-size: var(--paragraph-size);
  font-weight: var(--regular-text);
}

.cover__button-container {
  margin-top: 32px;
  display: flex;
  align-items: center;
  column-gap: var(--item-section-gap);
}

.cover__image_container {
  max-height: $height;
  position: relative;
  grid-area: image;
  z-index: 1;
  margin-left: -$img;

  @if $height == 650px {
    transform: translateX($img);
  }
}

.cover__image_container::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: clamp(12.5rem, -12.9779rem + 37.0588vw, 20.375rem);
  aspect-ratio: 1/1;
  background-image: url(../../images/logo/rahat-bakery-logo.svg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1100px) {
  $height: 410px;

  .cover__title {
    margin-bottom: 8px;
  }

  .cover__button-container .button:last-child {
    display: none;
  }

  .cover__button-container .button-main {
    min-width: 193px;
  }

  .cover__description {
    max-width: 250px;
  }

  .cover__image_container::before {
    width: 148px;
  }

  .cover__image_container {
    max-height: $height;

    @if $height != 650px {
      transform: translateX(var(--images-out-padding));
    }
  }
}

@media (max-width: 720px) {

  .section__cover {
    position: relative;
    margin-right: 0;
    grid-template-areas: "text" "image";
    grid-template-columns: 1fr;
    gap: 12px 0;
  }

  .cover__title {
    margin-bottom: 4px;
  }

  .cover__image_container {
    height: 103px;
    margin-right: -23.5px;
    margin-left: -23.5px;
    transform: none;
  }

  .cover__image_container img {
    position: absolute;
  }

  .cover__image_container::before {
    display: none;
  }

  .cover__button-container {
    display: none;
  }
}
