.menu__position-item {
  display: grid;
  grid-template-areas:
    "heading price"
    "description description"
    "filling .";
  justify-content: space-between;
  align-content: flex-start;
  row-gap: clamp(0.5rem, -0.5227rem + 3.6364vw, 0.75rem);
}

.menu__position-header {
  grid-area: heading;
  text-transform: uppercase;
  font-size: var(--paragraph-size);
  font-weight: var(--medium-text);
}

.menu__position-price {
  grid-area: price;
  justify-self: end;
  font-size: var(--paragraph-size);
  font-weight: var(--medium-text);
}

.menu__position-description {
  max-width: clamp(16.8125rem, 7.2204rem + 21.3158vw, 21.875rem);
  grid-area: description;
  font-size: var(--support-text-size);
  font-weight: var(--regular-text);
  color: var(--service-color);
}

.menu__position-header,
.menu__position-price,
.menu__position-filling-list {
  white-space: nowrap;
}

.menu__position-filling-title {
  margin-bottom: 5px;
  font-size: var(--support-text-size);
  font-weight: var(--regular-text);
  color: var(--service-color);
}

.filling-container {
  grid-area: filling;
  max-width: 135px;
}

.menu__position-filling-list {
  padding-left: 25px;
  list-style: "—  ";
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  font-size: var(--support-text-size);
  font-weight: var(--regular-text);
  color: var(--service-color);
}

.menu__position-filling-list li {
  padding-right: 4px;
}
