.copyright {
  display: block;
  max-width: 182px;
  color: var(--service-color);
  font-size: var(--support-text-size);
  text-align: center;
  line-height: 125%;
  grid-area: copyright;
  justify-self: center;
}
