.section__menu {
  display: flex;
  flex-direction: column;
  row-gap: var(--header-section-gap);
}

.section__menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--inner-section-gap);
}

.section__menu-item {
  display: grid;
  gap: 32px 108px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  justify-content: space-between;
}

.section__menu-item .section__subtitle {
  grid-area: title;
}

.menu__position-list {
  grid-area: itemList;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.menu__images-list {
  grid-area: images;
  display: grid;
  grid-template-columns: 1fr 0.73fr;
  gap: var(--item-section-gap);
}

.menu__bread,
.menu__desserts,
.menu__dairy {
  grid-template-areas:
    "title images"
    "itemList images";
}

.menu__main-dishes {
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas:
    "images title"
    "images itemList";
}

.menu__images-list-bread {
  grid-template-rows: 440px;
}

.menu__images-list-dishes {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 570px);
}

.menu__images-list-desserts {
  grid-template-rows: 400px 500px;
}

.menu__images-list-desserts li:last-child {
  grid-column: span 2;
}

.menu__images-list-dairy li:first-child {
  grid-column: span 2;
  max-height: 400px;
}

.section__menu-item .button-main {
  display: none;
}

@media (max-width: 1100px) {

  .section__menu-item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .menu__bread,
  .menu__desserts,
  .menu__main-dishes,
  .menu__dairy {
    grid-template-areas:
      "title"
      "itemList"
      "images"
      "button";
  }

  .menu__images-list {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    max-height: clamp(12.5rem, 3.9737rem + 18.9474vw, 17rem);
  }

  .menu__images-list li {
    flex: 1 0 clamp(12.5rem, -12.4868rem + 55.5263vw, 25.6875rem);
  }

  .menu__position-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px 32px;
  }

  .menu__position-list li {
    width: clamp(18.1875rem, 5.2796rem + 28.6842vw, 25rem);
  }

  .section__menu-item .button-main {
    padding-top: 8px;
    padding-bottom: 8px;
    grid-area: button;
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 720px) {

  .section__menu-item {
    row-gap: 16px;
  }

  .menu__position-list {
    flex-direction: column;
    gap: 5px 0;
  }

  .menu__position-list li {
    width: 100%;
  }

  .menu__images-list {
    max-height: clamp(7.5rem, -0.8333rem + 29.6296vw, 12.5rem);
    column-gap: 8px;
  }

  .menu__images-list li {
    flex-basis: clamp(7.5rem, -0.8333rem + 29.6296vw, 12.5rem);
  }
}
